.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  background-color: green;
  width: 50px;
  height: 100px;
  border: 2px;
  border-style: solid;
  position: relative;
}

.ball {
    height: 2px; /* (table width)/25 */
    width: 2px;
    background-color: rgb(248, 4, 4);
    border-radius: 50%;
    display: inline-block;
    border: 1px solid;
    position: absolute;
}

.vflip {
  transform: scaleY(-1);
}
.hflip {
  transform: scaleX(-1);
}
.vhflip {
  transform: scaleX(-1) scaleY(-1);
}